/* Avatar styles */

.no-animation * {
  animation: none !important;
}

/* Cat avatar */
.avatar-cat {
  display: block;
  height: 100%;
  width: 100%;
}
.avatar-cat * {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.avatar-cat,
.avatar-cat .ears,
.avatar-cat .eyes,
.avatar-cat .muzzle,
.avatar-cat .body,
.avatar-cat .paw,
.avatar-cat .tail,
.avatar-cat .tail-segment {
  position: relative;
}
.avatar-cat .head,
.avatar-cat .body,
.avatar-cat .paw,
.avatar-cat .tail-segment {
  background-color: #000000;
}
.avatar-cat .left {
  float: left;
}
.avatar-cat .right {
  float: right;
}
.avatar-cat .cat {
  margin-top: 50px;
  animation: purr 5s 2 cubic-bezier(0, 0.75, 1, 0.25);
}
.avatar-cat .head {
  width: 100px;
  height: 90px;
  border-radius: 50%;
  z-index: 100;
  animation: head-bob 5s 2 ease-in-out;
}
.avatar-cat .ears {
  top: -20px;
  z-index: -100;
}
.avatar-cat .ear {
  width: 0;
  height: 0;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-bottom: 50px solid #000000;
}
.avatar-cat .ear.left {
  transform: rotate(-20deg) translateX(-10px);
}
.avatar-cat .ear.right {
  transform: rotate(20deg) translateX(10px);
}
.avatar-cat .eyes {
  top: -18px;
  width: 60%;
}
.avatar-cat .eye {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #FFD700;
  animation: eye-blink 5s 2;
  text-align: center;
}
.avatar-cat .muzzle {
  top: 50px;
}
.avatar-cat .nose {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #666666;
}
.avatar-cat .body {
  width: 200px;
  height: 120px;
  border-top-left-radius: 200px;
  border-top-right-radius: 200px;
  top: -75px;
  left: 90px;
  z-index: -10;
}
.avatar-cat .paw {
  height: 30px;
  width: 50px;
  border-radius: 25px;
  left: -100px;
  top: 90px;
}
.avatar-cat .tail {
  left: 180px;
  top: -100px;
  transform: rotate(90deg);
}
.avatar-cat .tail-segment {
  height: 20px;
  width: 30px;
  border-radius: 25px;
  top: 0px;
  left: 10px;
  animation: tail-swish 5s 2 cubic-bezier(.8, 0, .2, 1);
}

@keyframes tail-swish {
  0% {transform: rotate(12deg);}
  10% {transform: rotate(12deg);}
  40% {transform: rotate(-5deg);}
  50% {transform: rotate(5deg);}
  60% {transform: rotate(-5deg);}
  100% {transform: rotate(12deg);}
}

@keyframes head-bob {
  0% {transform: translateX(-15px) translateY(45px);}
  10% {transform: translateX(-15px) translateY(45px);}
  30% {transform: translateX(0) translateY(0);}
  75% {transform: translateX(0) translateY(0);}
  90% {transform: translateX(-15px) translateY(45px);}
  100% {transform: translateX(-15px) translateY(45px);}
}

@keyframes eye-blink {
  0% {transform: scaleY(0);}
  10% {transform: scaleY(0);}
  15% {transform: scaleY(1);}
  48% {transform: scaleY(1);}
  50% {transform: scaleY(0);}
  52% {transform: scaleY(1);}
  90% {transform: scaleY(1);}
  95% {transform: scaleY(0);} 
  100% {transform: scaleY(0);}  
}

@keyframes purr {
  0% {left: -1px;}
  1% {left: 0px;}
  2% {left: -1px;}
  3% {left: 0px;}
  4% {left: -1px;}
  5% {left: 0px;}
  6% {left: -1px;}
  7% {left: 0px;}
  8% {left: -1px;}
  9% {left: 0px;}
  10% {left: -1px;}
  11% {left: 0px;}
  12% {left: -1px;}
  13% {left: 0px;}
  14% {left: -1px;}
  15% {left: 0px;}
  16% {left: -1px;}
  17% {left: 0px;}
  18% {left: -1px;}
  19% {left: 0px;}
  20% {left: -1px;}
  21% {left: 0px;}
  94% {left: 0px;}
  95% {left: -1px;}
  96% {left: 0px;}
  97% {left: -1px;}
  98% {left: 0px;}
  99% {left: -1px;}
  100% {left: 0px;}
}

/* Dog avatar */
.avatar-dog {
  position: relative;
  display: block;
  margin: auto;
  width: 400px;
  height: 280px;
}
.avatar-dog .head { position:absolute; top:16.5%; left:25%; width:50%; height:67%; border-radius:50%; }
.avatar-dog .ear { position:absolute; background:#b3b3b3; border-radius:50%; z-index:1; }
.avatar-dog .ear-left { width:43%; height:63%; top:3%; left:-2%; border-radius:60% 60% 15% 15%/85% 85% 15% 15%; background:#e0e0e0; transform:rotate(35deg); }
.avatar-dog .ear-right { width:43%; height:63%; top:3%; right:-2%; border-radius:60% 60% 15% 15%/85% 85% 15% 15%; background:#e0e0e0; transform:rotate(-35deg); }
.avatar-dog .inner-ear { position:absolute; border-radius:60% 60% 15% 15%/85% 85% 15% 15%; width:70%; height:80%; top:15%; background:#b3b3b3; }
.avatar-dog .inner-ear-left { left:5%; }
.avatar-dog .inner-ear-right { right:5%; }
.avatar-dog .face { position:absolute; background:#e0e0e0; border-radius:50%; z-index:3; }
.avatar-dog .face-left { width:50%; height:72%; top:16%; left:6%; }
.avatar-dog .face-mid { width:68%; height:72%; top:-7%; left:17%; }
.avatar-dog .face-right{ width:50%; height:72%; top:15%; right:4%; }
.avatar-dog .dot { position:absolute; border-radius:50%; background:#27354a; }
.avatar-dog .face-left .dot-1{ width:3%; height:3%; top:78%; left:66%; }
.avatar-dog .face-left .dot-2{ width:3%; height:3%; top:83%; left:60%; }
.avatar-dog .face-left .dot-3{ width:3%; height:3%; top:83%; left:70%; }
.avatar-dog .face-right .dot-1{ width:3%; height:3%; top:78%; right:66%; }
.avatar-dog .face-right .dot-2{ width:3%; height:3%; top:83%; right:60%; }
.avatar-dog .face-right .dot-3{ width:3%; height:3%; top:83%; right:70%; }
.avatar-dog .eye { position:absolute; background:#27354a; height:14.5%; width:9.5%; border-radius:50%; z-index:4; }
.avatar-dog .eye-left { top:20%; left:55%; }
.avatar-dog .eye-right{ top:20%; right:55%; }
.avatar-dog .nose{ position:absolute; background:#27354a; width:21%; height:15.5%; left:40%; top:55%; border-radius:36px; z-index:5; }
.avatar-dog .nose .dot{ position:absolute; background:#808080; width:21%; height:15.5%; left:30%; top:22%; border-radius:36px; }
.avatar-dog .mounth{ position:absolute; border-bottom:50px solid #e0e0e0; border-radius:70px; left:33%; top:60%; width:36%; height:33.5%; z-index:1; }
.avatar-dog .tongue{ position:absolute; border-bottom:50px solid #ff8087; border-radius:74px; left:43%; top:36%; width:16%; height:49.5%; z-index:1; animation:tongue 2s 2; }
@keyframes tongue { 0% {top:40%;} 50% {top:42%;} 100% {top:36%;} }
