@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	@apply min-h-screen select-none bg-zinc-50 text-zinc-900 antialiased p-safe dark:bg-zinc-900 dark:text-zinc-50;

	/* PWA enhancements */
	-webkit-overflow-scrolling: touch;
	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none;
}

:root {
  --switch-on: #f97316;
  --switch-off: #d1d5db;
}

.dark {
  --switch-on: #fb923c;
  --switch-off: #374151;
}

.switch {
  position: relative;
  display: inline-block;
  margin: 0 5px;
  width: 64px;
  height: 28px;
}

.switch-lg {
  width: 65px;
  height: 29px;
}
.switch > span {
  position: absolute;
  top: 7px;
  pointer-events: none;
  font-family: 'Helvetica', Arial, sans-serif;
  font-weight: bold;
  font-size: 11px;
  text-transform: uppercase;
  text-shadow: 0 1px 0 rgba(0, 0, 0, .06);
  width: 50%;
  text-align: center;
}
input.check-toggle-round-flat:checked ~ .off {
  color: var(--switch-on);
}
input.check-toggle-round-flat:checked ~ .on {
  color: #fff;
}
.switch > span.on {
  left: 0;
  padding-left: 2px;
  color: var(--switch-on);
}
.switch > span.off {
  right: 0;
  padding-right: 4px;
  color: #fff;
}
.check-toggle {
  position: absolute;
  margin-left: -9999px;
  visibility: hidden;
}
.check-toggle + label {
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  user-select: none;
}
input.check-toggle-round-flat + label {
  padding: 2px;
  width: 64px;
  height: 28px;
  background-color: var(--switch-off);
  border-radius: 40px;
}

.switch-lg input.check-toggle-round-flat + label {
  width: 65px;
  height: 29px;
}
input.check-toggle-round-flat + label:before,
input.check-toggle-round-flat + label:after {
  display: block;
  position: absolute;
  content: '';
}
input.check-toggle-round-flat + label:before {
  top: 2px;
  left: 2px;
  bottom: 2px;
  right: 2px;
  background-color: var(--switch-off);
  border-radius: 40px;
  transition: background-color 0.2s;
}
input.check-toggle-round-flat + label:after {
  top: 2px;
  left: 2px;
  bottom: 2px;
  width: 24px;
  background-color: #fff;
  border-radius: 24px;
  transition: margin 0.2s;
}

.switch-lg input.check-toggle-round-flat + label:after {
  width: 25px;
}
input.check-toggle-round-flat:checked + label:before {
  background-color: var(--switch-on);
}
input.check-toggle-round-flat:checked + label:after {
  margin-left: 32px;
}

.switch-lg input.check-toggle-round-flat:checked + label:after {
  margin-left: 33px;
}
